<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>{{title}}</title>
    {{> menu}}
    <h1>{{title}}</h1>

    <section>
      {{#if players.length}} 
        <form action="/add-restrictions" method="post">
          <label>To add:</label><br />
          <select name="toAdd">
            {{#each players}}
              <option value='{{this}}'>{{this}}</option>
            {{/each}}
          </select>
          <br />
          <label>Who add:</label><br />
          <select name="whoAdd">
            {{#each players}}
              <option value='{{this}}'>{{this}}</option>
            {{/each}}
          </select>
          <br />
          <input type="submit" value="Add restriction" />
        </form>
        {{else}}
          <h3>The list of players is empty</h3>
        {{/if}}
    </section>
  </body>
</html>